{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
{{ super() }}
    <div class="container">
        <div class="row">
            <div class="card sticky-top" style="width: 35%; margin-right: 2vw; height: fit-content; top: calc(50px + 5vh);">
                <div class="card-body">
                    <h1 class="card-title">{{ user.username }}</h1>
                    {% if editable %}
                        <h3 class="card-subtitle mb-2 text-muted">{{ user.email }}</h3>
                    {% endif %}
                    {% if user.about %}
                        {% if to_edit == 'about' %}
                            <hr />
                            <form method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea class="form-control textarea-expand" id="about" name="about" spellcheck="true" maxlength="500">{{ user.about }}</textarea>
                                    </div>
                                </div>
                                <div>
                                    <hr />
                                    <button type="submit" class="btn btn-success">Update</button>
                                    <a href="{{ url_for('Own_Profile') }}" class="btn btn-danger">Cancel</a>
                                </div>
                            </form>
                        {% else %}
                            <hr />
                            <p style="white-space: pre-wrap;">{{ user.about }}</p>
                        {% endif %}
                    {% else %}
                        {% if to_edit == 'about' %}
                            <hr />
                            <form method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea class="form-control textarea-expand" id="about" name="about" spellcheck="true"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <hr />
                                    <button type="submit" class="btn btn-success">Update</button>
                                    <a href="{{ url_for('Own_Profile') }}" class="btn btn-danger">Cancel</a>
                                </div>
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if editable and to_edit == None %}
                        <hr />
                        <a href="{{ url_for('Own_Profile', edit = 'about') }}" class="btn btn-info">Edit About</a>
                        <a href="#" class="btn btn-danger">Change Password</a>
                    {% endif %}
                </div>
            </div>
            <div class="card mb-3" style="width: calc(65% - 2vw);">
                <div class="card-body">
                    <h1 class="card-title">Posts 
                        {% if editable %}
                            <span><a href="{{ url_for('New_Post') }}" class="btn btn-sm btn-success float-right mt-3">New Post</a></span>
                        {% endif %}
                    </h1>
                    {% for post in posts %}
                        <hr class="mt-1 mb-3" />
                        <a href="{{ url_for('View_Post', post_id = post.id) }}" class="post">
                            <h4 class="mb-1">{{ post.title }}</h4>
                        </a>
                        <p class="text-muted" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ post.content }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}